* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-ht-en.ht-en.dix -text
/apertium-ht-en.ht-en.t1x -text
/apertium-ht-en.ht.dix -text
/autogen.sh -text
/configure.ac -text
/ht-en.prob -text svneol=unset#unset
/modes.xml -text
